@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    background-color: #F9FAF8;
    flex-direction: column;
    padding: 0;
    margin: 0;
}


#header {   
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 32px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    padding: 10px;
}

#scoreboard-div {
    display: flex;
    justify-content: center;
}

#scoreboard {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    margin-bottom: 30px;
}

#player-choice-buttons {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.choice-button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 32px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 24px;
}

.choice-button:hover {
    background-color: #214b8f;
}

#match-visualization {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.choice-label {
    text-align: center;
    font-size: 24px;
}

.choice-img {
    width: 250px;
    height: 250px;
}
